.choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота на весь видимый экран */
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  b {
    color: white; /* Белый текст */
    font-size: 108px; /* Пространство между текстом OR и ссылками */
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
  }
  
  .signIn,
  .signUp {
    text-decoration: none;
    text-align: center;
    font-size: 48px;
    color: white; /* Белый текст */
    background-color: rgba(0, 0, 0, 0.2); /* Черный задний фон с 30% непрозрачностью */
    border-radius: 15px;
    width: 200px;
    height: 100px;
    display: flex; /* Размещение элементов внутри блока по оси */
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
  }
  
  