body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
  }
  

  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 150px; /* Установите высоту контейнера на весь видимый экран */
  }
 
  
  .til {
    font-size: 200px;
    font-weight: bold;
    color: white;
  }
  
  .todayILearned {
    font-size: 24px;
    color: white;
  }
  
  .toStartUploading {
    font-size: 16px;
    color: white;
  }

  
  .header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: flex-start;
    gap: 5%;
    color: white;
  }
  
  .tilh {
    font-size: 48px;
    font-weight: bold;
    margin-right: auto; 
    margin-left: 100px;
    margin-top: 50px;
  }
  
  .rightSection {
    position: absolute;
    top: 50px;
    right: 20px;
    color: white;
    font-size: 48px;
    margin-right: 100px;
    display: flex;
    gap: 20px;
  }
  
  .linkh {
    font-size: 36px;
    cursor: pointer;
    margin-left: 30px; /* Отступ между текстом FAQ и ABOUT */
  }
  .linkmenu {
    font-size: 36px;
    cursor: pointer;
    margin-left: 30px; /* Отступ между текстом FAQ и ABOUT */
  }
  .centerSection {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin-top: 60px;
  }
  